html, body { 
	font-size:18px;	
}

h2 { font-size: 36px;}

.container {}


.wrap { max-width:1400px; margin:0 auto; padding: 80px 40px;}

.grid {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	margin: 0 -20px;
} 
.grid.nopad {
	margin: 0;
} 
.grid.min {
	margin: 0 2px;
}

#site-wrapper {
    padding-top: 0;
}
.ticker-wrap {
	top: 127px;
}
.ticker-wrap+#site-wrapper {
    padding-top: 0;
}

.page article header {
	/* sticky header position = margin top + padding */
	top: calc(117px + 40px);
}  


[class*='col-'] {
margin-bottom: 0;
padding: 0 20px;}
.grid.nopad [class*='col-'] {padding: 0;}
.grid.min [class*='col-'] {padding: 0 2px;}
[class*='col-']>div {}

[class*='col-']>div.mid-align {
	display: flex;
    justify-content: center;
	flex-direction: column;
}

.col-2-3 {
	width: 66.66%;}
.col-1-3 {
	width: 33.33%;}
.col-1-2 {
	width: 50%;}
.col-1-4 {
	width: 25%;}
.col-3-4 {
	width: 75%;}
.col-1-8 {
	width: 12.5%;}
.col-1-5 {
	width: 20%;}
.col-2-5 {
	width: 40%;}
.col-3-5 {
	width: 60%;}
.col-4-5 {
	width: 80%;}
.col-1-6 {
	width: 16.66%;}
.col-3-10 {
	width: 30%;}
.col-1 {
	width: 100%;
}

.w50 {
	width: 50%;
    margin: 0 auto;
}

.w70 {
	width: 70%;
    margin: 0 auto;
}

.w100 {
	width: 100%;
    margin: 0 auto;
}






    
.menu-trigger {
    right: 40px;
}

.quote {
    background-position: center center;
	padding: 80px 0;
}
.quote figure {
	padding: 40px;
   /* max-width: 700px;*/
	font-size: 26px;
}
.quote figcaption {
	font-size: 24px;
}
.quote blockquote:before {
    width: 50px;
    height: 35px;
}

.ca_what {
	text-align:left;
}
.ca_what .grid .col-1-2:first-child {
	padding-right: 40px;
}
.ca_what .grid .col-1-2:last-child {
	padding-left: 0;
}
.ca_what .img {
    padding-top: 0;
}

.ca_how .header {
    padding-bottom: 40px;
	text-align: left;
	margin: 0;
}
.ca_how .header h2 {
    padding: 0;
}
.ca_how .header .btn {
	margin-left: auto;
	display: inline-table;
	white-space: nowrap;
}
.ca_how .grid.min {
	flex-flow: wrap;
	margin: 0 -40px;
}
.ca_how .grid.min .col-1-4 {
    flex: 0 0 50%;
	padding: 0 40px;
}




.ca_committed .col-1-3 img {
	max-width: 20vw;
}

.ca_help {
	text-align:center;
}
.ca_help h2 {
    max-width: 800px;
    margin: 0 auto 40px;
}
.ca_help [class*='col-'] {
	display: block;
}
.ca_stats {
	position: relative;
}
.campaign-stats {
	padding: 80px;
}
.stats-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url("../images/crowd-light.jpg") no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
}
.ca_support {
    padding-bottom: 80px;
}   
.support-links:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10vw;
    background: #0D3A4D;
	min-height: 140px;
}
.support-block {
    background: #0D3A4D;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
	text-align: center;
}
.support-links .cols-pic {
    height: 10vw;
    background: #fff;
	min-height: 140px;
}
.support-block img {
    height: 70%;
    margin: 20px;
    width: auto;
}
.cols-content {
    padding: 20px;
}
.cols-content p:last-child {
    padding-bottom: 0;
}

.support-links .wrap {
    padding: 0 40px;
}

.support-block .social a:before {
	background: #fff;
    color: #0D3A4D;
}

.ca_resources h3 {
	margin-bottom: 80px;
}

.resource-wrap {
	padding: 0 20px 40px 0;
}
.resource-wrap>a img {
	transition: transform .3s;
}
.resource-wrap>a:hover img {
    transform: translate(8px, 8px);
}
.resource-wrap>a:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #096074;
    z-index: -1;
}

body>.header{
    height: 100px;
}
.header .logo {
    width: 376px;
}
	.header .wrap {
	padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}	
.open.header .wrap {
	display:block;
}
.header .menu li ul {
}

.ticker-wrap {
	top: 127px;
}

.flex {
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer .flex {
    align-items: normal;
	padding: 40px;
}

footer .logo {
	margin: 0;
}
footer .footer-menu {
	margin-left: auto;
}

footer.page-footer p{ 
    margin: 0;}
footer.page-footer .social { 
	text-align: right;
    margin: 0 0 0 20px;
}
.social a {
    margin: 0 0 0 20px;
}
.page-footer .menu {
    display: block;
    margin-left: auto;
}
footer.page-footer li{ 
    margin: 0 0 0 20px;}

[class*='col-'].footer-menu {
    text-align: right;
}
footer.page-footer .menu li {
    display: inline-block;
    padding: 0 0 0 20px;
    margin: 0 0 0 20px;
    border-left: 1px solid rgba(255,255,255,0.4);
    border-right: none;
}
footer.page-footer .menu li:first-child {
    border-left: none;
}


/* STANDARD PAGE */
.page article {
	max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
	display: flex;
    justify-content: space-between;
}
.page article header {
	flex: 0 0 40%;
    padding: 0 40px 0 0;
	position: sticky;
    align-self: flex-start;
}
.page article header h1 {
	font-size: 40px;
}
.page article h3 {
    margin: 40px 0 20px;
}   
.page article h3:first-child {
    margin: 0 0 20px;
}   
    
.page article h3:first-child {
    margin-top: 10px;
}
.page article .entry-content {
    flex: 0 0 60%;
}



[class*='cols'] .wpcf7-form-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	margin-bottom: 20px;
}
.cols2 span.wpcf7-list-item {
    flex-basis: 50%;
}
.cols3 span.wpcf7-list-item {
    flex-basis: 33.3%;
}
.cols4 span.wpcf7-list-item {
    flex-basis: 25%;
}
.cols5 span.wpcf7-list-item {
    flex-basis: 20%;
}

	
	.grid.gallery {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: unset;
	}	
	.grid.gallery [class*='col-'] {
		margin-bottom: 30px;
	}	


/*BLOG*/

h2 a {
	background-image: linear-gradient(to bottom, transparent 55%, rgba(4,175,253,0.4) 10%);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s linear;
    text-decoration: none;
    cursor: pointer;
}
h2 a:hover {
	background-size: 100% 100%;
    cursor: pointer;
    text-decoration: none;
}


.topbar {    background: #0D3A4D;}
.topbar .wrap {        padding: 20px 40px;}
.topbar h3 {
	padding: 0;
	margin: 0;
}
.post-template h1 {
	font-size: 60px;
}


.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
    margin: 40px 0;
}




	
@media only screen and (min-width: 960px) {


.ticker-wrap {
	top: 132px;
}
#site-wrapper {
    padding-top: 0;
}	
.ticker-wrap+#site-wrapper {
    padding-top: 0;
}
.page article header {
	top: 172px;
}  

.accordion li.accordion_content {
	padding: 0 20px;
}
.accordion li.accordion_header {
	padding: 20px 20px 20px 50px;
}
.accordion li.accordion_header:before, .accordion li.accordion_header:after {
	left: 20px;
	top: 35px;
}
.accordion li.accordion_header:after {
	left: 25px;
}
.accordion li.accordion_header.active:after {
	left: 28px;
}

	

.data-table th, .data-table td {
	padding: 10px;
	font-size: 18px;
    line-height: 20px;
}
.data-table th {
    font-size: 14px;
}
.data-table td.features {
    font-size: 14px;
}
	
.data-table td.mobile-hide, .data-table th.mobile-hide {
	display: table-cell;
}
.data-table .desktop-hide {
	display: none;
}
	
	
	.header.open .wrap {
	padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}	
	
.header.open {
}	
	
.header .menu, .header.open .menu {
	display: flex;
	height: auto;
	padding: 0;
	overflow: initial;
}
.header.open .menu li {
    margin: 0 0 0 30px;
    padding: 40px 0;
}
.header.open .menu li a:before {
	content: normal;
}

	
.header .menu li.active a, .header.open .menu li.active a {
    color: #0D3A4D;
}
.header .menu li ul a:after, .header.open .menu li ul a:after {	
	content: normal;
}

.header .menu li ul, .header.open .menu li ul {
	position: absolute;
    background: #fff;
    width: 320px;
    left: 50%;
    margin: 0;
    list-style: none;
    display: none;
    visibility: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-top: 10px solid #0D3A4D;
    transform: translateX(-50%);
	z-index: 3;
}
.header .menu li ul:before, .header.open .menu li ul:before {
	content: '';
    display: block;
    top: -20px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #0D3A4D;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header .menu li ul:after {
	content: '';
    display: block;
    top: -58px;
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
}

.header .menu li:hover > ul,
.header .menu li ul:hover,
	.header.open .menu li:hover > ul,
.header.open .menu li ul:hover{
  visibility: visible;
  opacity: 1;
  display: block;
}
.menu>li{
    margin-left: 40px;
	position: relative;
}
.menu a{
    font-weight: bold;
}
.header .menu>li:last-child a {
    background: #00B4CD;
    padding: 10px 20px;
    color: #fff;
}
.header .menu>li:last-child a:hover {
    background: #0D3A4D;
    color: #fff;
}	
	    

	
.header .menu li ul li, .header.open .menu li ul li {
	margin: 0;
	padding: 0;
	position: relative;
}
.header .menu li ul li:before, .header.open .menu li ul li:before {
	content: '';
	position: absolute;
	display: block;
	background: #0D3A4D;
	height: 100%;
	width: 0;
	opacity: 0;
}
.header .menu li ul li:hover:before, .header .menu li ul li.active:before, .header.open .menu li ul li:hover:before, .header.open .menu li ul li.active:before {
	width: 100%;
	transition: all 0.3s;
	opacity: 1;
}
.header .menu li ul li.active:before, .header.open .menu li ul li.active:before {
	width: 5px;
	opacity: 1;
}
.header .menu li ul a, .header .menu li ul li.active a, .header.open .menu li ul a, .header.open .menu li ul li.active a {
        color: #0D3A4D;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
}
	.header .menu li ul li.active a, 	.header.open .menu li ul li.active a {
    color: #fff;
		font-weight: 700;
}
	
.header .menu li ul a:hover, .header.open .menu li ul a:hover {
    color: #fff;
}
	

.menu-trigger, .open .menu-trigger {
	display: none;
}	

	
}





	
@media only screen and (min-width: 1025px) {


	.ca_how .grid.min {
		margin: 0 -2px 40px;
	}
	.ca_how .grid.min .col-1-4 {
    flex: none;
    padding: 0 2px;
}

	.ca_how .hover-wrap {
		padding: 20px;
		position: relative;
		background: #0D3A4D;
		display: flex;
		height: 100%;
		flex-direction: column;
		color: #fff;
	}

	.ca_how [class*='col-']:nth-child(odd) .hover-wrap, .ca_how [class*='col-']:nth-child(odd) .hover-copy {background: #00B4CD;}
	.ca_how [class*='col-']:nth-child(odd) .hover-pic {background-color: transparent;}
	.ca_how .hover-wrap {overflow: hidden;}
	
	.ca_how .hover-pic {
		width: 100%;
		height: 100%;
		position: absolute;
		background-size: contain;
		bottom: 0;
		left: 0;
		background-position: bottom;
		background-repeat: no-repeat;
		background-color: transparent;
	}
	.hover-hd {
		height: 20vw;
		font-size: 1.5vw;
		font-size: 24px;
		font-weight: bold;
		height: 300px;
		color: #fff;
	}
	.ca_how .hover-copy {
		position: absolute;
		width: 100%;
		height: 100%;
		padding: 20px;
		top: -130%;
		left: 0;
		text-align: center;
		display: flex;
		align-items: center;
		background: #0D3A4D;
		transition: all .4s;
		box-shadow: 0 0 20px rgba(0,0,0,0.3);
	}
	.ca_how .hover-copy div {
		opacity: 0;
	}

	.ca_how .hover-wrap:hover .hover-copy {
		top: 0%;
	}
	.ca_how .hover-wrap:hover .hover-copy div {
		opacity: 1;
		transition: opacity .6s .2s;
	}
	
}